# Bytecode compiled rpy files, etc.
*.rpyc
*.rpyb
*.rpymc
*.pyc
*.pyo

# Files renpy's build system ignores.
*~
*.bak
thumbs.db

# Files created when running the game from the git directory.
log.txt
errors.txt
traceback.txt
styles.txt

# Engine directories that belong to the Renpy launcher.
saves
tmp
cache
env


# Editor stuff.
*.sw?
*~
